@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
  box-sizing: border-box;
}

body {
  --color1: #335c67;
  --color2: #fff3b0;
  --color3: #e09f3e;
  --color4: #9e2a2b;
  --color5: #540b0e;
  background-color: var(--color5);
  color: var(--color1);
  cursor: default;
  display: flex;
  font-family: 'Oswald', sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}
button {
  cursor: pointer;
}
